index.aux
index.log
index.synctex.gz*
index.pdf
index.lof
index.toc
index.lol
index.bbl
index.out
index.pyg
index.blg
index.fdb_latexmk
.sublime-project.sublime-workspace
_minted-index
texput.log

.DS_Store